# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Raw/processed data folders
data/raw/
# data/processed/

# Virtual env / dotenv
venv/
.env
data/processed/*
!data/processed/m18_full_indicator_dataset.csv
